<h2 ng-show="deviceexist">Gerät bearbeiten</h2>
<h2 ng-hide="deviceexist">Gerät erstellen</h2>
<form  ng-controller="DeviceController">
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="device.name" placeholder="">
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="form-group">
            <label for="selectStatus">Status</label>
            <select class="form-control" id="selectStatus" ng-model="device.deviceStatus">
                <option ng-value="option.key" ng-selected="option.key === device.deviceStatus"  ng-repeat="option in deviceStatus">{{option.trans}}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="row">
            <div class="col-md-6">
                <input type="checkbox" ng-model="adminset"> Verwalter verfügbar
            </div>
            <div ng-show="adminset" class="col-md-6">
                <div class="form-group">
                    <label for="selectAdmin">Administrator</label>
                    <select class="form-control" id="selectAdmin" ng-model="device.deviceAdministratorId">
                        <option ng-value="option.id" ng-selected="option.id === device.deviceAdministratorId"  ng-repeat="option in users">{{option.nameFirst + " " + option.nameLast }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="form-group">
            <label for="selectUser">Benutzer</label>
            <select class="form-control" id="selectUser" ng-model="device.assignedUserId">
                <option ng-value="option.id" ng-selected="option.id === device.assignedUserId"  ng-repeat="option in users">{{option.nameFirst + " " + option.nameLast }}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="form-group">
            <label for="selectDepartment">Abteilung</label>
            <select class="form-control" id="selectDepartment" ng-model="device.departmentId" required>
                <option ng-value="option.id" ng-selected="option.id === device.departmentId"  ng-repeat="option in departments">{{option.name }}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-lg-offset-1">
        <a ui-sref="devices" class="btn btn-danger"><i class="far fa-arrow-alt-circle-left"></i> zurück</a>
        <button ng-show="deviceexist" class="btn btn-success" ng-click="edit(device)">speichern</button>
        <button ng-hide="deviceexist" class="btn btn-success" ng-click="addNew(device)">hinzufügen</button>
    </div>
</form>