<div ng-controller="UserController">
    <h2>Benutzer</h2>
    <a ui-sref="addUser" style="cursor: pointer"> Benutzer hinzufügen <i style="color: green;" class="fas fa-plus"></i> </a>
    <form>
        <div class="form-group">
            <div class="col-md-2">
              <input ng-model="$ctrl.query" type="text" class="form-control " id="searchInput" placeholder="Suchfeld">
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>E-Mail</th>
            <th>Abteilung</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in entries | filter: $ctrl.query">
                <td>{{user.id}}</td>
                <td>{{user.nameFirst}}</td>
                <td>{{user.nameLast}}</td>
                <td>{{user.email}}</td>
                <td>{{user.department}}</td>
                <td>
                    <a title="Benutzer bearbeiten" ui-sref="editUser({id: user.id})" ui-sref-active="active"> <i class="fa fa-edit" style="cursor: pointer;"></i></a>
                    <a title="Benutzer löschen" ui-sref="deleteUser({id: user.id})" ui-sref-active="active"> <i class="fa fa-minus-circle" style="color: red; cursor: pointer;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>