<h2>Wer hat was?</h2>
<div ng-controller="DeviceController">
    <form>
        <div class="form-group">
            <div class="col-md-2">
                <input ng-model="$ctrl.query" type="text" class="form-control " id="searchInput" placeholder="Suchfeld">
            </div>
        </div>
    </form>
    <br>
    <br>
    <div border="1" ng-repeat="user in users  | filter: $ctrl.query" ng-if="user.userdevices.length">
        <h3>{{user.nameFirst + " " +user.nameLast }} </h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Gerät</th>
                <th>Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="device in user.userdevices">
                <td>{{device.device}}</td>
                <td>{{device.typ}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
