<div ng-controller="DepartmentController">
    <h2>Abteilungen</h2>
    <a ui-sref="addDepartment" style="cursor: pointer"> Abteilung hinzufügen <i style="color: green;" class="fas fa-plus"></i> </a>
    <form>
        <div class="form-group">
            <div class="col-md-2">
                <input ng-model="$ctrl.query" type="text" class="form-control " id="searchInput" placeholder="Suchfeld">
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Abkürzung</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="department in entries | filter: $ctrl.query">
                <td>{{department.id}}</td>
                <td>{{department.name}}</td>
                <td>{{department.abbreviation}}</td>
                <td>
                    <a title="Abteilung bearbeiten" ui-sref="editDepartment({id: department.id})" ui-sref-active="active"> <i class="fa fa-edit" style="cursor: pointer;"></i></a>
                    <a title="Abtelung löschen" ui-sref="deleteDepartment({id: department.id})" ui-sref-active="active"> <i class="fa fa-minus-circle" style="color: red; cursor: pointer;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>