<h2 ng-show="departmentexist">Abteilung bearbeiten</h2>
<h2 ng-hide="departmentexist">Abteilung erstellen</h2>
<form name="departmentForm" ng-controller="DepartmentController">
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="department.name" required novalidate>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1">
        <div class="form-group">
            <label for="abbreviation">Abkürzung</label>
            <input type="text" class="form-control" id="abbreviation" ng-model="department.abbreviation" required novalidate>
        </div>
    </div>
    <div class="col-xs-12 col-lg-offset-1">
        <a ui-sref="departments" class="btn btn-danger"><i class="far fa-arrow-alt-circle-left"></i> zurück</a>
        <button ng-show="departmentexist" class="btn btn-success" ng-click="departmentForm.$valid && edit(department)">speichern</button>
        <button ng-hide="departmentexist" class="btn btn-success" ng-click="departmentForm.$valid && addNew(department)">hinzufügen</button>
    </div>
</form>